PORT=4090
SITE_URL=https://914.io
SITE_TITLE=914.io
SITE_DESCRIPTION=
SITE_AUTHOR=André Sanz
HIDE_AUTHOR=true
ENABLE_SEARCH=false
PER_PAGE=10

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=914-io

ADMIN_URL=https://admin.andresanz.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
CONTACT_TO=
